@model global::LeagueTool.Models.ViewModels.DropdownGroupModel

<div class="form-group">
    <div class="form-label">Region</div>
    <select name="Region" class="custom-select form-control">
        @foreach (var region in Model.Regions)
        {
            <option @(region.Name == Model.Selected.Region ? "selected" : "")
                    value="@region.Name">
                @region.DisplayName (@region.Name.ToUpperInvariant())
            </option>
        }
    </select>
</div>
<div class="form-group">
    <div class="form-label">Language</div>
    <select name="Language" class="custom-select form-control">
        @foreach (var language in Model.Languages)
        {
            <option @(language.Name == Model.Selected.Language ? "selected" : "")
                    value="@language.Name">
                @language.DisplayName
            </option>
        }
    </select>
</div>
<div class="form-group">
    <div class="form-label">Version</div>
    <select name="Version" class="custom-select form-control">
        @foreach (var version in Model.Versions)
        {
            <option @(version == Model.Selected.Version ? "selected" : "")
                    value="@version">
                @version
            </option>
        }
    </select>
</div>