@model global::LeagueTool.Models.ViewModels.LayoutModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>@Model.Title | League Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- Dashboard Core -->
    <link href="/static/tabler-assets/css/dashboard.css" rel="stylesheet" />
    @*<script src="/static/tabler-assets/js/dashboard.js"></script>*@
</head>
<body class="">
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="/">
                            <img src="/static/tabler-assets/demo/brand/tabler.svg" class="header-brand-img" alt="tabler logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            @Model.Title
                        </h1>
                        <div class="page-subtitle">@Model.Subtitle</div>
                    </div>
                    <div class="row row-cards">
                        <div class="col-lg-4">
                            @using (Html.BeginForm("RedirectToChampionList", "Home", FormMethod.Post, new { @class = "card" }))
                            {
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-label">Region</div>
                                        <select name="Region" class="custom-select form-control">
                                            @foreach (var region in Model.Regions)
                                            {
                                                <option @(region.Name == Model.ChampionQuery.Region ? "selected" : "")
                                                        value="@region.Name">
                                                    @region.DisplayName (@region.Name.ToUpperInvariant())
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label">Language</div>
                                        <select name="Language" class="custom-select form-control">
                                            @foreach (var language in Model.Languages)
                                            {
                                                <option @(language.Name == Model.ChampionQuery.Language ? "selected" : "")
                                                        value="@language.Name">
                                                    @language.DisplayName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label">Version</div>
                                        <select name="Version" class="custom-select form-control">
                                            @foreach (var version in Model.Versions)
                                            {
                                                <option @(version == Model.ChampionQuery.Version ? "selected" : "")
                                                        value="@version">
                                                    @version
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            }
                        </div>

                        @RenderBody()

                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto"></div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.13.0/lazyload.min.js"></script>
    <script>new LazyLoad({ elements_selector: ".lazy" })</script>
</body>
</html>