@model global::LeagueTool.Models.ViewModels.ChampionListModel

<div class="container">
    <div class="page-header">
        <h1 class="page-title">
            Champions
        </h1>
        <div class="page-subtitle">showing all @Model.Champions.Count() champions</div>
    </div>
    <div class="row row-cards">
        <div class="col-lg-4">
            @using (Html.BeginForm("ChampionList", "Home", FormMethod.Post, new { @class = "card" }))
            {
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-label">Region</div>
                        <select name="Region" class="custom-select form-control">
                            @foreach (var region in Model.Regions)
                            {
                                <option
                                    @(region.Name == Model.SelectedRegion ? "selected" : "")
                                    value="@region.Name">
                                    @region.DisplayName (@region.Name.ToUpperInvariant())
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-label">Language</div>
                        <select name="Language" class="custom-select form-control">
                            @foreach (var language in Model.Languages)
                            {
                                <option 
                                    @(language.Name == Model.SelectedLanguage ? "selected" : "")
                                    value="@language.Name">
                                    @language.DisplayName
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-label">Version</div>
                        <select name="Version" class="custom-select form-control">
                            @foreach (var version in Model.Versions)
                            {
                                <option 
                                    @(version == Model.SelectedVersion ? "selected" : "")
                                    value="@version">
                                    @version
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            }
        </div>
        <div class="col-lg-8">
            <div class="card" id="championTable">
                <table class="table card-table table-vcenter">
                    <tbody>
                        <tr>
                            <th class="w-1"></th>
                            <th>Name</th>
                            <th class="d-none d-md-table-cell">Title</th>
                            <th class="d-none d-sm-table-cell">Role</th>
                        </tr>
                        @foreach (var champion in Model.Champions)
                        {
                            <tr>
                                <td>
                                    <span class="avatar d-block rounded lazy"
                                          data-src="@champion.SquareImage">
                                    </span>
                                </td>
                                <td><a href="#">@champion.Name</a></td>
                                <td class="d-none d-md-table-cell">@champion.Title</td>
                                <td class="d-none d-sm-table-cell">@champion.Role</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>